.combo-box.expSelect {
    -fx-border-color:transparent;
    -fx-background-color: white;
    -fx-skin: none;
    -fx-padding: 0;
}

.combo-box.expSelect .arrow, .combo-box .arrow-button{
    -fx-background-color: transparent;
    -fx-padding: 0;
}

.label {
    -fx-padding: 5 0 0 0;
}

.expressionPane {
    -fx-background-color: white;
    -fx-padding: 0;
}

#nullExpMenu > .label {
    -fx-text-fill: red;
}